body {
    text-align: center;
}

.productContainer {
    display: flex;
    flex-wrap: wrap;
}

.productContainer>.link {
    text-align: center;
    align-items: center;
    width: 300px;
    box-shadow: 0 0 10px #463636;
    margin: 10px;
}

.productContainer>.link:hover {
    background-color: lightgray;
}

.productContainer>.link>img {
    margin-top: -15px;
    width: 250px;
    height: 200px;
}

.shoe-detils-contaier {
    margin: 0 30px;
}

.shoe-detils {
    text-align: center;
    align-items: center;
    /* width: 80%; */
}

.shoe-detils>img {
    width: 100%;
    height: 60%;
}